
@{
    Layout = "_Layout";
}

<div>
    <h3>
        <img src="http://www.web-deli.com/image/tutorial_h3start.gif" />
        Let's Learn ASP.NET Core!
    </h3>
</div>
<hr/>
<div>@RenderBody()</div>
<hr/>
サポートページ：<a href="http://www.wings.msn.to">http://www.wings.msn.to</a>